body {
    background-color: #f0f000;
}

#box1 {
    width: 400px;
    height: 400px;
    background-image: url("../image/logo.jpg");
}

#box2 {
    width: 400px;
    height: 400px;
    background-image: url("../image/big.jpg");
    background-repeat: no-repeat;
}