/*主页index.html的样式表*/
/*顶部导航条容器*/
.top-bar-wrapper {
    /*设置宽度全屏*/
    width: 100%;
    background-color: #333;
    /*行高，保证文字垂直居中*/
    line-height: 40px;
    height: 40px;
}

/*设置顶部的超链接的颜色*/
.top-bar a {
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}

/*设置超链接移入的效果*/
.top-bar a:hover {
    color: white;
}

/*设置分割线*/
.top-bar .line {
    font-size: 12px;
    margin: -1px 8px 0px;
    color: #424242;
}

/*顶部左侧导航栏*/
.service, .top-bar li {
    float: left;
}

.shop-cart, .user-info {
    float: right;
}

.shop-cart {
    margin-left: 26px;
}

/*购物车的样式*/
.shop-cart a {
    width: 120px;
    background-color: #424242;
    text-align: center;
}

.shop-cart:hover a {
    background-color: white;
    color: #ff6700;
}

.shop-cart i {
    margin-right: 2px;
}

.app {
    position: relative;
}

.app .qrcode {
    display: none;
    width: 124px;
    height: 148px;
    background-color: white;
    line-height: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    position: absolute;
    /*计算获得*/
    left: -40px;
    z-index: 999;
}


.app-wrapper:hover > .app .qrcode {
    display: block;
}

/*设置app下的小三角*/
.app-wrapper:hover .app::before {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    content: "";
    /*去除上边框*/
    border-top: none;
    border-color: transparent transparent white transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
}

/*设置二维码中的图片*/
.app .qrcode img {
    width: 90px;
    margin: 17px 17px;
    margin-bottom: 10px;
}

/*设置二维码中的文字*/
.app .qrcode span {
    color: black;
    font-size: 14px;
}
